---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-triggers-changejob-io-v1alpha-changetriggeredjob
  failurePolicy: Fail
  name: mchangetriggeredjob-v1alpha.kb.io
  rules:
  - apiGroups:
    - triggers.changejob.io
    apiVersions:
    - v1alpha
    operations:
    - CREATE
    - UPDATE
    resources:
    - changetriggeredjobs
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-triggers-changejob-io-v1alpha-changetriggeredjob
  failurePolicy: Fail
  name: vchangetriggeredjob-v1alpha.kb.io
  rules:
  - apiGroups:
    - triggers.changejob.io
    apiVersions:
    - v1alpha
    operations:
    - CREATE
    - UPDATE
    resources:
    - changetriggeredjobs
  sideEffects: None
