---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - triggers.changejob.dev
  resources:
  - changetriggeredjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - triggers.changejob.dev
  resources:
  - changetriggeredjobs/finalizers
  verbs:
  - update
- apiGroups:
  - triggers.changejob.dev
  resources:
  - changetriggeredjobs/status
  verbs:
  - get
  - patch
  - update
