name: Test Chart

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        uses: helm/kind-action@v1
        with:
          install_only: true

      - name: Create kind cluster
        run: kind create cluster

      - name: Prepare kube-changejob
        run: |
          go mod tidy
          make docker-build IMG=ghcr.io/nusnewob/kube-changejob:dev
          kind load docker-image ghcr.io/nusnewob/kube-changejob:dev

      - name: Install Helm
        uses: Azure/setup-helm@v4.3.1

      - name: Lint Helm Chart
        run: helm lint --strict ./dist/chart

      - name: Install cert-manager via Helm (wait for readiness)
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm install cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --create-namespace \
            --set crds.enabled=true \
            --wait \
            --timeout 300s

      # TODO: Uncomment if Prometheus is enabled
      #      - name: Install Prometheus Operator CRDs
      #        run: |
      #          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
      #          helm repo update
      #          helm install prometheus-crds prometheus-community/prometheus-operator-crds

      - name: Install Helm chart for project
        run: helm install my-release ./dist/chart --create-namespace --namespace kube-changejob-system --set manager.image.tag=dev

      - name: Check Helm release status
        run: helm status my-release --namespace kube-changejob-system
