name: E2E Tests

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        uses: helm/kind-action@v1
        with:
          install_only: true

      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e
